<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Funny Movie", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li style="color: white"><%= "Welcome #{current_user.email}" %></li>
          <li><%= button_to "Share a youtube url", new_shared_url_path, method: :get %></li>
          <li><%= button_to "Log out", logout_path, method: :delete %></li>
          </li>
        <% else %>
          <li><%= button_to "Log in", login_path, method: :get %></li>
          <li><%= button_to "Register", signup_path, method: :get %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
